<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly - Criar Conta</title>
        <link rel="stylesheet" href="../css/createAccount.css">
</head>
<body>
    <div class="container">
        <form action="/users" method="POST">
            <div class="create-account-title">Crie sua conta no Taskly!</div>
            <label for="name">Nome de usuário:</label>
            <input type="text" id="name" name="name" required>

            <label for="email">E-mail:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Senha:</label>
            <input type="password" id="password" name="password"  required>

            <button type="submit">Criar Conta</button>
            <div>Já possui uma conta? <a href="/">Fazer Login</a></div>
        </form>

</body>
</html>