<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Taskly - Calendário</title>
    <link rel="stylesheet" href="../css/home.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <%- include('../components/sidebar') %>
    <div class="main">
        <div class="calendar-header">
            <span class="calendar-title">Calendário</span>
            <div class="calendar-controls">
                <button>&lt;</button>
                <span>Maio 2025</span>
                <button>&gt;</button>
            </div>
        </div>
        <div style="border-bottom:2px solid #bdbdbd; margin-bottom: 18px;"></div>
        <div class="calendar-month">Maio 2025</div>
        <table class="calendar-table">
            <thead>
                <tr>
                    <th>DOM</th>
                    <th>SEG</th>
                    <th>TER</th>
                    <th>QUA</th>
                    <th>QUI</th>
                    <th>SEX</th>
                    <th>SÁB</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span style="color:#bbb;">27</span></td>
                    <td><span style="color:#bbb;">28</span></td>
                    <td><span style="color:#bbb;">29</span></td>
                    <td><span style="color:#bbb;">30</span></td>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>5</td>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>11</td>
                    <td>12</td>
                    <td>13</td>
                    <td>14</td>
                    <td>15</td>
                    <td>16</td>
                    <td>17</td>
                </tr>
                <tr>
                    <td>18</td>
                    <td>19
                    </td>
                    <td>20</td>
                    <td>21</td>
                    <td>22</td>
                    <td>23</td>
                    <td>24</td>
                </tr>
                <tr>
                    <td>25
                    </td>
                    <td>26</td>
                    <td>27</td>
                    <td>28</td>
                    <td>29</td>
                    <td>30
                    </td>
                    <td>31</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>