<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Taskly - Login</title>
    <link rel="stylesheet" href="../css/login.css">
</head>
<body>
    <div class="header">Taskly</div>
    <div class="container">
        <form class="login-box" method="POST" action="/login">
            <div class="login-title">Entre no Taskly</div>
            <label class="login-label" for="email">E-mail</label>
            <input class="login-input" type="email" id="email" name="email" placeholder="Insira seu endereço de e-mail..." required>
            <label class="login-label" for="password">Senha</label>
            <input class="login-input" type="password" id="password" name="password" placeholder="Insira sua senha..." required>
            <button class="login-btn" type="submit">Entrar</button>
            <div class="login-footer">
        Primeiro acesso? <a href="/login">Crie uma conta</a>
    </div>
</form>
    </div>
</body>
</html>