<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Taskly - Notes</title>
    <link rel="stylesheet" href="../css/notes.css">
</head>
<body>
    <%- include('../components/sidebar') %>
<div class="main">
    <div class="notes-header">
        <span class="notes-title">Anotações</span>
    </div>
    <div class="notes-divider"></div>
    <div class="notes-grid">
    <% notes.forEach(note => { %>
        <div class="note-card">
            <div class="note-title"><%= note.title %></div>
            <div class="note-content"><%= note.description %></div>
        </div>
    <% }) %>
    </div>
    </div>
</div>

</body>
</html>